<div class="filelistWrapper">
    {{> pathBar}}
    <div class="elements">
        {{#each folders}}
            <div class="element folder">
                <a class="element-link"
                   href="{{concatenate "/tree/" @root/currentPath this}}">{{this}}</a>
                <button class="element-button-rename"
                        onclick="renameResource('{{this}}')">
                    Rn
                </button>
                <button class="element-button-delete"
                        onclick="deleteResource('{{this}}', 'folder')">
                    X
                </button>
            </div>
        {{/each}}
        {{#each files}}
            <div class="element file">
                {{this}}
                <button class="element-button-rename"
                        onclick="renameResource('{{this}}')">
                    Rn
                </button>
                <button class="element-button-delete"
                        onclick="deleteResource('{{this}}', 'file')">
                    X
                </button>
            </div>
        {{/each}}
    </div>
</div>

<script>
    function renameResource(oldName) {
        //TODO: Rewrite to html dialog
        const newName = prompt("Enter new name:");
        if (newName === null) {
            return;
        }
        const body = {
            oldName: oldName,
            newName: newName
        };
        fetch("/renameResource", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            keepalive: true,
            body: JSON.stringify(body)
        })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.json();
                    }
                })
                .catch(error => console.log(error));
    }
    function deleteResource(name, type) {
        if (!["folder", "file"].includes(type)) {
            throw new Error("Invalid argument in deleteResource function.");
        }
        const body = {
            resourceName: name,
            resourceType: type
        };
        fetch("/deleteResource", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            keepalive: true,
            body: JSON.stringify(body)
        })
                .then(response => {
                    if (response.redirected) {
                        window.location.href = response.url;
                    } else {
                        return response.json();
                    }
                })
                .catch(error => console.log(error));
    }
</script>

<style>
    .elements {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
        overflow-y: scroll;
    }
    .elements::after {
        content: "";
        flex: auto;
    }

    .element {
        position: relative;
        display: block;
        width: 20%;
        max-width: 100px;
        aspect-ratio: 1/1;
        margin: 20px;
        padding-top: 1.7em;
    }
    .element-link {
        display: block;
        height: 100%;
    }
    [class ^= element-button] {
        position: absolute;
        display: block;
        width: 1.7em;
        height: 1.7em;
        margin: 5px;
        font-weight: bold;
        border: none;
        cursor: pointer;
        z-index: 3;
    }
    .element-button-rename {
        bottom: 0;
        right: 0;
        background-color: cornflowerblue;
        color: white;
    }
    .element-button-delete {
        top: 0;
        right: 0;
        border-radius: 50%;
        background-color: red;
        color: white;
    }

    .file {
        background-color: lightblue;
    }
    .folder {
        background-color: slateblue;
    }
</style>