<aside class="sidebar">
    <a href="/tree/{{parentDirectory}}" class="button-element">Go back</a>
    <fieldset>
    <button class="filter-collapse-button button-element"
            onclick="toggleFilterMenu()">Show filters</button>
    <legend>Filters</legend>
    <div class="filters-wrapper collapsed">
        {{#each filters}}
            <button class="filter" onclick="previewFilter('{{this}}')">
                <span class="filter-description">{{this}}</span>
                <img class="filter-img" src="{{@root/imagePath}}" alt="{{@root/imagePath}}" style="{{cssFromFilter this}}">
            </button>
        {{/each}}
    </div>
    </fieldset>
</aside>

<script>
    let filterMenuCollapsed = true;
	function toggleFilterMenu() {
        const filtersWrapper = document.querySelector(".filters-wrapper");
		const toggleButton = document.querySelector(".filter-collapse-button");
        if(filterMenuCollapsed){
            filtersWrapper.classList.remove('collapsed');
            filterMenuCollapsed = false;
			toggleButton.innerText = "Hide filters";
        } else {
            filtersWrapper.classList.add('collapsed');
            filterMenuCollapsed = true;
			toggleButton.innerText = "Show filters";
        }
    }
</script>