<aside class="sidebar">
    <a href="/tree/{{parentDirectory}}">Go back</a>
    <button>Filters</button>
    <div class="filters-wrapper">
        {{#each filters}}
            <button class="filter" onclick="preview('{{this}}')">{{this}}
                <img class="filter-img" src="{{@root/imagePath}}" alt="{{@root/imagePath}}" style="{{cssFromFilter this}}">
            </button>
        {{/each}}
    </div>
</aside>

<style>
    .filter-img{
        max-width: 200px;
        max-height: 200px;
    }
</style>