{{>header}}
{{>sidebar_image_editor}}
<div class="image-editor-wrapper">
    <p class="pathbar-wrapper">{{filePath}}</p>
    <img src="{{imagePath}}" alt="{{imagePath}}" class="image-edited">
    <div class="form-group">
        <button onclick="filter()" class="button-element image-save">Save</button>
        <a href="{{imagePath}}" target="_blank" class="button-element">Preview image</a>
    </div>
</div>

<style>
    @import url("/style/image_editor.css");
</style>

<script>
	let filtersMenuCollapsed = true;
    function previewFilter(filterName){
		document.querySelector('.image-edited').style = cssFromFilter(filterName);
        selectedFilter = filterName;
    }
    function filter(){
        fetch("/filterImage", {
			            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            body: JSON.stringify({
                filterName: selectedFilter,
                imagePath: "{{imagePath}}"
            })
        })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    return response.json();
                }
            })
            .then(data => {
                return data;
            })
            .catch(error => console.log(error));
    }

	function cssFromFilter(filter){
        switch (filter) {
            case "greyscale":
                return "filter: grayscale(100%);";
            case "sepia":
                return "filter: sepia(100%);";
            case "blur":
                return "filter: blur(5px);";
            case "none":
                return "";
            default:
                return "";
        }
    }
</script>
