<h2>
    {{#if (eq action "register")}}
        Register
    {{else}}
        Login
    {{/if}}
</h2>
<form method="POST"
    {{#if (eq action "register")}}
      action="/register"
    {{else}}
      action="/login"
    {{/if}}
>
    <div class="form-group class=alt-text">
        <div class="input-wrapper">
            <label for="input-username">Username</label>
            <input type="text" name="username" id="input-username" required/>
        </div>
        <div class="input-wrapper">
            <label for="input-password">Password</label>
            <input type="password" name="password" id="input-password" required/>
        </div>
    </div>

    <button type="submit" class="button-element">
        {{#if (eq action "register")}}
            Register
        {{else}}
            Login
        {{/if}}
    </button>
</form>
{{#if (eq action "register")}}
    <p class="alt-text">Already have an account? <a href="/login">Log in</a>.</p>
{{else}}
    <p class="alt-text">Don't have an account yet? <a href="/register">Register</a>.</p>
{{/if}}

<style>
    @import url("/style/login_register.css");
</style>

<script>
        {{#if responseCode}}
        alert("{{statusCodeMessage responseCode}}");
        {{/if}}
</script>