<h1>Hi!</h1>
<h2>
    {{#if (eq action "register")}}
        Register
    {{else}}
        Login
    {{/if}}
</h2>
<form method="POST"
    {{#if (eq action "register")}}
      action="/register"
    {{else}}
      action="/login"
    {{/if}}
>
    <div class="input-wrapper">
        <label for="input-username">Username</label>
        <input type="text" name="username" id="input-username" required/>
    </div>
    <div class="input-wrapper">
        <label for="input-password">Password</label>
        <input type="password" name="password" id="input-password" required/>
    </div>
    <button type="submit">
        {{#if (eq action "register")}}
            Register
        {{else}}
            Login
        {{/if}}
    </button>
</form>
{{#if (eq action "register")}}
    <p>Already have an account? <a href="/login">Log in</a>.</p>
{{else}}
    <p>Don't have an account yet? <a href="/register">Register</a>.</p>
{{/if}}

<script>
        {{#if responseCode}}
        alert("{{statusCodeMessage responseCode}}");
        {{/if}}
</script>