{{>header}}
{{>sidebar_text_editor}}
<div class="text-editor-wrapper">
    <div class="text-editor-header pathbar-wrapper">
        <label for="editor">
            {{filePath}}
        </label>
    </div>
    <div class="line-numbers">
        <div class="line-number"></div>
        <textarea id="editor" class="text-editor" wrap="off">{{fileContent}}</textarea>
    </div>
    <button onclick="saveFile()" class="button-element">Save changes</button>
</div>

<style>
    @import url("/style/text_editor.css");
    .text-editor-wrapper {
        --font-size: {{textSize}}px;
        --background-color: {{backgroundColor}};
        --text-color: {{textColor}};
    }
</style>

<script defer>
    window.onload = countLines;
    document.querySelector("#editor").addEventListener("keyup", event => {
        // Bind Ctrl + S
        if (event.ctrlKey && event.key === "s") {
            event.preventDefault();
            saveFile();
        }
        countLines();
    });
    function countLines() {
        // Count lines and generate line numbers
        document.querySelectorAll(".line-numbers > *").forEach(el => {
            if (el.classList.contains("line-number")) el.remove()
        });
        const linesNumber = document.querySelector("#editor").value.split("\n").length;
        document.querySelector("#editor").rows = linesNumber;
        for (let i = 0; i < linesNumber; i++) {
            const line = document.createElement("div");
            line.classList.add("line-number");
            line.innerText = (i + 1).toString();
            const lineHeight = document.querySelector("#editor").clientHeight / linesNumber;
            line.style.top = (i * lineHeight).toString() + "px";
            document.querySelector(".line-numbers").appendChild(line);
        }
    }
    function saveFile() {
        const body = {
            filePath: "{{filePath}}",
            fileContent: document.querySelector("#editor").value
        };
        fetch("/updateFile", {
            method: "POST",
            headers: {
                "Content-Type": "application/json"
            },
            keepalive: true,
            body: JSON.stringify(body)
        })
            .then(response => {
                if (response.redirected) {
                    window.location.href = response.url;
                } else {
                    return response.json();
                }
            })
            .catch(error => console.log(error));
    }

</script>